<div class="text-center">
  <h2>お気に入り登録一覧</h2>
</div>

<% @fav_posts.each do |post| %>

<div class="container">
  <div class="border" style="padding:10px;">

    <div>
      <%= link_to post.user.name, user_path(post.user) %> <%#= @post.prefecture.name if @post.prefecture_id? %> 
    </div> 
    
    <div>
      <h5>サーフスポット名：<%= post.surf_spot %></h5>
    </div>
  
    <%= link_to '詳細ページ', post, class: "btn btn-secondary" %>
    <%= link_to '編集ページ', edit_post_path(post.id), class: "btn btn-light" %>
    <%= link_to '削除', post,  method: :delete, data: { confirm: "削除してもよろしいか？" }, class: 'btn btn-danger' %>
    
    <% if current_user.fav_posts?(post) %>
      <%= form_with(model: current_user.favorites.find_by(post_id: post.id), local: true, method: :delete,) do |f| %>
        <%= hidden_field_tag :post_id, post.id %>
        <%= f.submit 'いいね解除', class: 'btn btn-danger btn-block' %>
      <% end %>
      
    <% else %>
    
      <%= form_with(model: current_user.favorites.build, local: true) do |f| %>
        <%= hidden_field_tag :post_id, post.id %>
        <%= f.submit 'いいね', class: 'btn btn-primary btn-block' %>
      <% end %>
    <% end %>
  </div>
</div>

<% end %>

